:root {
    --main-color-bg: #181c1c;
    --main-color: #00b2eb;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at center, #000 0%, #000 100%);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}


.page {
    position: relative;
    overflow: hidden;
}

.Toastify__progress-bar--success {
    background-color: var(--main-color);
}